/*
* 设置分页符规则
*/
a {
    page-break-inside:avoid;
}
blockquote {
    page-break-inside: avoid;
}
#table-of-contents {
    page-break-after:always;
}
h1, h2, h3, h4, h5, h6 { 
     page-break-after:avoid; 
     page-break-inside:avoid; 
}
img { 
     page-break-inside:avoid; 
     page-break-after:avoid; 
}
table, pre { page-break-inside:avoid; }
ul, ol, dl  { page-break-before:avoid; }

/*
*设置边框
*/
#table-of-contents {
    border: 1px solid #bbb;
}
body {
    padding:0 !important;
    border:none !important; 
    margin:0 !important;
    background: #fff !important;
    color: #000;
}
#content {
    border:none !important; 
    padding:0 !important;
}


/*
 *字体设置。
 */
h1 {
    font-size: 24pt;
}

h2, h3, h4 {
    font-size: 14pt;
    margin-top: 25px;
}

/* 
* 设置链接颜色和行为
*/
a:link, a:visited, a {
    background: transparent;
    text-decoration: underline;
    text-align: left;
}

a[href^=http]:after {
    content:" < " attr(href) "> ";
}

$a:after > img {
    content: "";
}

article a[href^="#"]:after {
    content: "";
}

a:not(:local-link):after {
    content:" < " attr(href) "> ";
}

/*
* 引用自动换行
*/
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
